@import url('https://fonts.googleapis.com/css?family=Poppins: 100,200,300,400,500,600,700,800,900');
*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;

}

/*body{*/
/*	!*background: #ffccbc;*!*/
/*}*/

.action {
	/* display: contents; */
	position: relative;
	/* position: fixed; */
	/* position: relative; */
	/* top: 20px;
	right: 30px; */
	margin: 0px;
	padding: 0px 0px 0px 0px;
	/* top: -43px; */
	left: -12px;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	/* background: red; */
	width: 51px;
	height: 51px;
	border-radius: 80%;
}

.action .profile{
	display: flex;
	position:relative;
	top: 0;
	left: 0;
	bottom: 48px;
	margin: 0;
	padding: 0px;
	/* padding: 20px 20px 20px 490px; */
	/* margin: -36px 0px 0px 484px; */
	width: 51px;
	height: 51px;
	border-radius: 50%;
	overflow: hidden;
	cursor: pointer;
	/* background-color: red; */
}
.action .profile img{
	/* position: absolute; */
	position:relative;
	/* top: 6px; */
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;

}
.action .profile:hover img{
	/* position: absolute; */
	position: relative;
	/* top: 6px; */
	left: 0;
	/* width: 82%;
	height: 82%; */
	width: 51px;
	height: 51px;
	/*object-fit: cover;*/
	transition: 0.6s;
}
.action .umenu{
	/* position: absolute; */
	position: relative;
	top: 18px;
	left: -211px;


	padding: 10px 20px;
	margin: 0 0 40px 0;
	/* background:#f21010b1; */
	width: 268px;
	box-sizing:border-box;
	/* background: #ffffffd6; */
	/* background:#8ed4ffd5; */
	border: 1px solid rgba(25, 25, 25, 0.327);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1),
             2px -2px 4px rgba(0, 0, 0, 0.1),
			 -2px 2px 3px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	transition: 0.3s;
	visibility: hidden;
	opacity: 0;
	z-index: -999;
	
}

.action .umenu.active{
	/* top: 154px;
	left: 178px; */
	/* top: 20px;
	left: 118px; */
	visibility: visible;
	z-index:9999999;
	opacity: 1;
	background:#fcfcfc;
}
.action .umenu::before{
	content: '';
	display: block;
	/* position: absolute; */
	position: relative;
	top: -17px;
	left: 209px;
	width: 13px;
	height: 13px;
	border-top: 1px solid rgba(25, 25, 25, 0.327);
	border-left: 1px solid rgba(25, 25, 25, 0.327);
	background: #fcfcfc;
	/* background: #f90000; */
	transform: rotate(45deg);
	/* box-shadow: 1px 1px 1px #ffffff,
             -4px -4px 3px #f0eded; */
	box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1),
             -2px -2px 2px rgba(0, 0, 0, 0.1);
	z-index:-999;
}

.action .umenu h3{
	width: 100%;
	text-align: center;
	padding: 20px 0;
	font-weight: 500;
	font-size: 18px;
	color: #555;
	line-height: 1.2em;

}

.action .menu h3 span{
	font-size: 14px;
	color: #cecece;
	font-weight: 400;
}

.action .umenu ul li{
	list-style: none;
	padding: 10px 0;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	font-size: 20px;
}
.action .umenu ul li img{
	max-width: 20px;
	margin: 8px;
	opacity: 0.5;
	transition: 0.5s;

}
.action .umenu ul li:hover img{
	opacity: 1;
	transform: rotate(4deg);

}
.action .umenu ul li a{
	display: inline-block;
	text-decoration: none;
	color: #555;
	font-weight: 500;
	transition: 0.5s;

}
.action .umenu ul li:hover a{
	color: #000000;
	transform: rotate(1deg);
}








/* media-width */

@media (max-width:991px){
	/* body{
	background: #ffccbc;
	} */
	.header{
		display: flex;
		/* align-items: center; */
		justify-content: space-between;
		/* position: fixed; */
		top:0; left:0; right:0;
		padding:3rem 9%;
		
		z-index: 1000;
		/* background: rgb(50, 50, 50); */
	}
	/* .header{
        padding:2rem;
    } */

    .header.active{
		/* position:relative; */
		/* top:0; left:0; right:0; */
		padding:3rem 9%;
    }
	.header .logo{
		margin: -7px 0;
	}

    /* section{
        padding:2rem;
    } */

	.action {
		/* position: fixed; */
		position: relative;
		/* position: absolute; */
		/* top: 20px;
		right: 30px; */
		left: 55px;
		/* padding: 0px 0px 0px 0px; */
	
	}
	.action .profile{
		position: relative;
		/* padding: 20px 20px 20px 490px; */
		/* margin: -36px 0px 0px 410px; */
		width: 51px;
		height: 51px;
		/* left: 100px; */
		bottom: 0px;
		border-radius: 50%;
		overflow: hidden;
		cursor: pointer;
	}

	.action .umenu{
		/* position: absolute; */
		position: relative;
		top: 60px;
		left: 100px;
		/* right: -10px; */
		/* margin: -50px 0px 0px 215px; */
		padding: 10px 20px;
		background:#ffffff;
		width: 250px;
		box-sizing:border-box;
	
		/*background: #adaca9;*/
		box-shadow: 4px 4px 5px #efeeee,
				 -4px -4px 5px #efeeee;
		border-radius: 10px;
		transition: 0.6s;
		visibility: hidden;
		opacity: 0;
	}
	
	.action .umenu.active{
		top: 27px;
		/* right: -3px; */
		left: -195px;
		visibility: visible;
		opacity: 1;
	}
	.action .umenu::before{
		content: '';
		position: absolute;
		top: -11px;
		right: 28px;
		width: 20px;
		height: 20px;
		background: #fcfcfc;
		transform: rotate(45deg);
		box-shadow: 1px 1px 1px #ffffff,
				 -4px -4px 3px #f0eded;
	
	}

}

@media (max-width:722px){
	.action {
		left: 40px;
	}
}

@media (max-width:542px){
	.action {
		left: 30px;
	}
}

@media (max-width:465px){
	.action {
		left: 20px;
	}
}

@media (max-width:428px){
	.action {
		left: 17px;
	}
}

@media (max-width:375px){
	/* .action .umenu{
		margin: 0;
		padding: 0 10px;
		border-radius: 10px;
		width: 250px;
		top: 60px;
		left: 814px;
		
	}
	.action .umenu.active {
		top: -141px;
		left: 91px;
	} */
}


@media (max-width:364px){
	/* .action .umenu{
		position: absolute;
		
	}
	.action .umenu.active {
		top: -148px;
		left: 92px;
		background-color: red; 
	} */
}